// COLORS
$color-primary: #b655e0c4;
$color-primary-light: #d9a2e4d4;
$color-primary-dark:#b655e0c4;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;

//FONT
$default-font-size: 1.6rem;