.row {
    display: flex;
    padding: 2rem;
}

.col-1 {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-2 {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
}